<div id="comment-modal" class="modal">
  <div class="modal__content">
    <form class="comment-form" method="post">
      <p>
        Poniżej możesz zanotować wszelkie odnośnie aktualnie przeglądanej strony.
      </p>
      <p>
        <textarea name="comment" id="comment" rows="10" required
                  aria-label="Sugestie odnośnie aktualnie przeglądanej strony"></textarea>
      </p>
      <div class="modal__footer">
        <button type="submit">Wyślij</button>
      </div>

      <a href="#" class="modal__close">&times;</a>
    </form>
  </div>
</div>
