<aside class="menu--left">
  <header>
    <h1>Sekcje</h1>
  </header>
  <ul class="menu__container">
    <li class="menu__item">
      <a href="{% url 'equipment' %}" class="menu__link">Sprzęt</a>
    </li>
    <li class="menu__item">
      <a href="{% url 'vehicle' %}" class="menu__link">Pojazdy</a>
    </li>
    <li class="menu__item">
      <a href="{% url 'firefighter' %}" class="menu__link">Strażacy</a>
    </li>
    <li class="menu__item">
      <a href="" class="menu__link">Usługi</a>
    </li>
  </ul>
</aside>
