{% extends 'base.html' %}

{% block content %}
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Marka</th>
      <th>Model</th>
      <th>Parametry</th>
      <th>Rok produkcji</th>
      <th>Ostatni przegląd</th>
      <th>Następny przegląd</th>
      <th>Mechanik</th>
      <th>Status</th>
      <th>Stan</th>
      <th>Uwagi</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
      <td>testtesttesttesttesttesttesttesttesttesttesttesttesttest</td>
    </tr>
    </tbody>
  </table>
{% endblock content %}
