{% extends 'base.html' %}
{% block content %}
  <div class="confirm-form">
    <a href="#comment-modal" class="make-comment" data-type="history_vehicle" data-id="{{ object.pk }}">Zgłoś uwagę</a>
    <a href="{{ go_back }}">Powrót</a>
    <p>
      <span class="field-name">ID</span>
      <span class="field-value">{{ object.id}}</span>
    </p>
    <p>
      <span class="field-name">Pojazd</span>
      <span class="field-value">{{ object.pojazd }}</span>
    </p>
    <p>
    <p>
      <span class="field-name">Ostatni przegląd</span>
      <span class="field-value">{{ object.ostatni_przeglad }}</span>
    </p>
    <p>
      <span class="field-name">Następny przegląd</span>
      <span class="field-value">{{ object.nastepny_przeglad }}</span>
    </p>
    <p>
      <span class="field-name">Ostatnia wymiana oleju i filtra</span>
      <span class="field-value">{{ object.ostatnia_wymiana_olej_filtr }}</span>
    </p>
    <p>
      <span class="field-name">Przebieg przy wymianie</span>
      <span class="field-value">{{ object.przebieg_przywymianie }}</span>
    </p>
    <p>
      <span class="field-name">Mechanik</span>
      <span class="field-value">{{ object.mechanik }}</span>
    </p>
    <p>
      <span class="field-name">Uwagi</span>
      <span class="field-value">{{ object.uwagi }}</span>
    </p>

    <div class="pull-right">
      <a class="action-secondary" href="{% url 'history-vehicle-delete' object.pk %}">Usuń</a>
      <a class="action-primary" href="{% url 'history-vehicle-update' object.pk %}">Edytuj</a>
    </div>
  </div>
  {% include 'common/modal.html' %}
{% endblock content %}
