{% extends "base.html" %}
{% load static %}

{% block title %}Straż pożarna{% endblock %}
{% block content %}
  <h1>Strona główna zarządzania strażą pożarną</h1>
  <section>
    <img class='main-img' src="{% static 'media/straz.jpeg' %}" alt="Straż pożarna"/>
  </section>
{% if request.user.is_authenticated %}
<h1>Terminy, które upłynęły:</h1>
  <section>
  {% include 'department/home_vehicle.html' %}
  </section>
  <section>
  {% include 'department/home_equipment.html' %}
  </section>
  <section>
  {% include 'department/home_service.html' %}
  </section>
  <section>
  {% include 'department/home_firefighter.html' %}
  </section>
  
<h1>Terminy, które upływają w ciągu 30 dni:</h1>
  <section>
  {% include 'department/home_vehicle_soon.html' %}
  </section>
  <section>
  {% include 'department/home_equipment_soon.html' %}
  </section>
  <section>
  {% include 'department/home_service_soon.html' %}
  </section>
  <section>
  {% include 'department/home_firefighter_soon.html' %}
  </section>
{% endif %}
{% endblock %}
