{% extends "base.html" %}
{% load static %}

{% block title %}Straż pożarna{% endblock %}
{% block content %}
  <h1>Strona główna zarządzania strażą pożarną</h1>
  <section>
    <img class='main-img' src="{% static 'media/straz.jpeg' %}" alt="Straż pożarna"/>
  </section>
{% if request.user.is_authenticated %}
<h1>Terminy, które upłynęły:</h1>
  <section>
  {% include 'department/home_vehicle.html' %}
  </section>
  <section>
  {% include 'department/home_equipment.html' %}
  </section>
  <section>
  {% include 'department/home_service.html' %}
  </section>
  <section>
  {% include 'department/home_firefighter.html' %}
  </section>

<h1>Terminy, które upływają w ciągu 30 dni:</h1>
  <section>
  {% include 'department/home_vehicle_soon.html' %}
  </section>
  <section>
  {% include 'department/home_equipment_soon.html' %}
  </section>
  <section>
  {% include 'department/home_service_soon.html' %}
  </section>
  <section>
  {% include 'department/home_firefighter_soon.html' %}
  </section>
{% endif %}
  {% if request.user.is_authenticated %}
  <h2>Lista zgłoszonych uwag</h2>

  <table>
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Komentarz</th>
      <th>Data dodania</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in uwagi %}
      <tr>
        <td title="{{ comment.subject }}">
          <a href="{{ comment.get_url }}">{{ comment.subject }}</a>
        </td>
        <td title="{{ comment.content }}">
            {{ comment.content }}
        </td>
        <td title="{{ comment.created_at }}">
            {{ comment.created_at }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
