:root {
    --primary: #79aec8;
    --primary-text: #333;
    --secondary-text: #fff;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-text);
}

.top-header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-header .logo {
    font-weight: bold;
}

.top-header .logo,
.top-header .menu {
    padding: 30px 10px;
}

.top-header a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 20px;
    display: block;
}

.top-header a:hover {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 35px auto;
}

.menu--left {
    width: 200px;
    margin-left: 25px;
}

.menu__container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    padding: 10px;
}

.menu__link {
    text-decoration: none;
    color: var(--primary-text);
}

.menu__link:hover {
    color: var(--primary);
}

#content {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    overflow: auto;
}

#content h1 {
    text-align: center;
    padding: 40px 0;
}

#content section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register-form {
    display: flex;
    justify-content: center;

}

.login-form {
    display: flex;
    justify-content: center;

}

#content section .error {
    max-width: 600px;
}

.login-form p, .login-form form {
    max-width: 600px;
}

.login-form input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: var(--primary);
    border-radius: 5px;
    border-color: var(--primary);
    border-width: 2px;
    color: var(--secondary-text);
    padding: 10px;
}

.login-form input[type="submit"]:hover {
    cursor: pointer;
}

.main-img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #696969;
    color: var(--secondary-text);
}

th, td {
    padding: 5px;
    border: 1px solid #ddd;
    max-width: 130px;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr:hover {
    background-color: var(--primary);
}

.errorlist {
    background-color: #fb756b;
    padding: 20px;
}

.errorlist li {
    margin-left: 10px;
}

.field-name {
    font-weight: bold;
}

.confirm {
    max-width: 500px;
    margin: 20px auto;
}

.confirm-form {
    position: relative;
    padding: 20px;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.action-secondary {
    text-decoration: none;
    color: var(--primary-text);
    cursor: pointer;
}

.action-primary {
    background-color: var(--primary);
    border: 0;
    padding: 10px;
    min-width: 100px;
    text-decoration: none;
    color: var(--secondary-text);
    font-weight: bold;
    cursor: pointer;
}

.pull-right {
    text-align: right;
}

.make-comment {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: var(--primary-text);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal__content textarea {
    width: 100%;
}
.modal__footer {
    text-align: right;
}

.modal__footer a {
    color: #585858;
}

.modal__footer i {
    color: #d02d2c;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}
